RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.musikstudio-ziebart.de
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

AddCharset UTF-8 .html

<IfModule mod_headers.c>
    Header always set X-Content-Type-Options nosniff
</IfModule>